**
!*.md
!*.png
!doc-assets/**
!icon.png
!out/bundle.js
!package.json
!package.nls.json
!package.nls.zh-cn.json
!l10n/**
!depends.json
!LICENSE
!ThirdPartyNotices.txt
!res/schemas/**
!res/config/**
!res/clangd.tgz
!res/clang-format*