BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign

ColumnLimit: 120

PointerAlignment: Left
ReferenceAlignment: Pointer

SortIncludes: Never
SortUsingDeclarations: false
FixNamespaceComments: false

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true

AlignTrailingComments:
  Kind: Leave

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true

AlignEscapedNewlines: Right
